.backButtonContainer {
  padding-top: 5%;
}

.container {
  width: 80%;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.oldSubscriptionContainer {
  padding-right: 2%;
  background-color: white;
  width: 40%;
}

.newSubscriptionContainer {
  background-color: white;
  width: 40%;
}
